body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  /* background-color: #E5E0FF; */
  /* background-color: #fcfcfc; */
  background-color: #f1f1f1;
  /* background-color: #EEEEEE; */

  
  
}

.main-container .ant-input-group-addon > button {
  background-color: #9384D1;
}

.title {
  /* background-color: #2A2F4F; */
  background-color: #434242;
  /* color: white; */
  padding: 5px;
}


.blank {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 56vh;
}

.main-container {
  /* background-color: #E5E0FF; */
  /* color: white; */
  /* height: 100vh; */
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.sub-item {
  /* margin : 10px; */
  padding: 10px;
}